{
	admin off
}

(local_tls) {
	tls internal
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		-Server
	}
}

home.{$HOME_DOMAIN} {
	import local_tls
	reverse_proxy dashboard:3000
}

mealie.{$HOME_DOMAIN} {
	import local_tls
	reverse_proxy mealie:9000
}

tasks.{$HOME_DOMAIN} {
	import local_tls
	reverse_proxy vikunja:3456
}

things.{$HOME_DOMAIN} {
	import local_tls
	reverse_proxy homebox:7745
}

vault.{$HOME_DOMAIN} {
	import local_tls
	reverse_proxy vaultwarden:80
}

status.{$HOME_DOMAIN} {
	import local_tls
	reverse_proxy uptime-kuma:3001
}

cinema.{$HOME_DOMAIN} {
	import local_tls
	reverse_proxy jellyfin:8096
}

assistant.{$HOME_DOMAIN} {
	import local_tls
	reverse_proxy home-assistant:8123
}
